<?xml version="1.0"?>
<!--
/**
 * Maho
 *
 * @package    MageAustralia_B2bAccess
 * @copyright  Copyright (c) 2026 Mage Australia
 * @license    https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <MageAustralia_B2bAccess>
            <version>1.1.0</version>
        </MageAustralia_B2bAccess>
    </modules>

    <global>
        <helpers>
            <b2baccess>
                <class>MageAustralia_B2bAccess_Helper</class>
            </b2baccess>
        </helpers>
        <blocks>
            <b2baccess>
                <class>MageAustralia_B2bAccess_Block</class>
            </b2baccess>
        </blocks>
        <models>
            <b2baccess>
                <class>MageAustralia_B2bAccess_Model</class>
                <resourceModel>b2baccess_resource</resourceModel>
            </b2baccess>
            <b2baccess_resource>
                <class>MageAustralia_B2bAccess_Model_Resource</class>
                <entities>
                    <rule><table>b2baccess_rule</table></rule>
                    <rule_product><table>b2baccess_rule_product</table></rule_product>
                </entities>
            </b2baccess_resource>
        </models>
        <resources>
            <b2baccess_setup>
                <setup>
                    <module>MageAustralia_B2bAccess</module>
                </setup>
            </b2baccess_setup>
        </resources>
        <!--
             Observers are registered via #[Maho\Config\Observer] PHP attributes
             on Model/Observer.php (compiled at composer dump-autoload into
             vendor/composer/maho_attributes.php). No <events> XML here.
        -->
    </global>

    <frontend>
        <translate>
            <modules>
                <MageAustralia_B2bAccess>
                    <files>
                        <default>MageAustralia_B2bAccess.csv</default>
                    </files>
                </MageAustralia_B2bAccess>
            </modules>
        </translate>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mageaustralia_b2baccess before="Mage_Adminhtml">MageAustralia_B2bAccess_Adminhtml</mageaustralia_b2baccess>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <mageaustralia_b2baccess><file>mageaustralia_b2baccess.xml</file></mageaustralia_b2baccess>
            </updates>
        </layout>
        <translate>
            <modules>
                <MageAustralia_B2bAccess>
                    <files>
                        <default>MageAustralia_B2bAccess.csv</default>
                    </files>
                </MageAustralia_B2bAccess>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <b2baccess>
            <general>
                <enabled>0</enabled>
                <mode>basic</mode>
            </general>
            <login>
                <required>0</required>
                <redirect_cms></redirect_cms>
                <message>Please log in to view this store.</message>
            </login>
            <price>
                <hide>0</hide>
                <hide_listing>0</hide_listing>
                <message>Log in to see pricing.</message>
                <block_purchase>1</block_purchase>
            </price>
            <matrix>
                <by_customer>0</by_customer>
                <customer_groups></customer_groups>
                <by_category>0</by_category>
                <categories></categories>
            </matrix>
        </b2baccess>
    </default>
</config>
